* {
    margin: 0 auto;
    box-sizing: border-box
}

body {
    background-color: rgb(221, 221, 221);
    color: #222;
}

.container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    max-width: 100%;
}

.navbar {
    text-align: center;
    border-bottom: 2px solid #555;
    margin: 0 40px;
}

.navbar li {
    text-transform: uppercase;
    padding: 20px 0;
}

.main {
    display: flex;
    margin: 40px;
}

.column {
    background-color: rgba(233, 233, 233, 0.596);
    flex: 1;
    margin-right: 60px;
    padding: 15px;
}

.posty {
    font-size: 20px;
    padding-bottom: 10px;
}

.post {
    flex: 3;
}

.header {
    font-size: 22px;
    color: lightslategray;
    margin-bottom: 15px;
}

.p {
    color: #666;
    padding-top: 15px;
}

.gallery {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.icon {
    max-width: 250px;
}

.footer {
    background: #999;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: white;
}


/* Media Queries */

@media (max-width: 768px) {
    .main,
    .gallery {
        flex-direction: column;
    }
    .column {
        margin: 0;
    }
    .icon {
        max-width: 100%;
        padding: 20px;
    }
}